DATABASE_URL="postgresql://usuario:password@localhost:5432/polleria?schema=public"
JWT_SECRET=""
JWT_REFRESH_SECRET=""
JWT_ACCESS_EXPIRES="15m"
JWT_REFRESH_EXPIRES_DIAS="7"
PORT=3000
NODE_ENV=development
